a {
    color: #fdffff;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: #fdffff;
    text-decoration: none;
    background-color: transparent;
}

.hero-container {
    position: relative;
    text-align: center;
    color: white;
}

.hero-container img {
    width: 100%;
    height: auto;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
}

.hero-text h1,
.hero-text p {
    margin: 0;
}

.hero-text h1 {
    font-size: 3em;
}

.hero-text p {
    font-size: 1.5em;
}

.card {
    transition: transform 0.3s;
    margin-top: 5%;
    margin-bottom: 5%;
}

.card:hover {
    transform: translateY(-5px);
    background-color: antiquewhite;
}

.page_header {
    text-align: center;
    font-weight: bold;
    color: lightseagreen;
    margin-top: 5%;
    font-size: 30px;
}

.signup-buttons {
    display: flex;
    justify-content: center;
}

.signup-buttons a {
    margin: 0 10px;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    padding-top: 20px;
}

.sidebar a {
    padding: 10px;
    text-decoration: none;
    color: white;
    display: block;
}

.sidebar a:hover {
    background-color: #555;
}

.content {
    /*margin-left: 200px;*/
    padding: 20px;
}