{% extends 'base.html' %}

{% block title %}Customers{% endblock %}

{% block content %}

    {% include 'sidebar.html' %}
    <div class="content">
        <h2>Admin Users</h2>
    </div>

    <table class="customersTable table table-striped table-bordered">
        <thead>
        <tr>
            <th>Admin ID</th>
            <th>Admin Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Created</th>
        </tr>
        </thead>
        <tbody>
        {% for customer in customers %}
            <tr>
                <td>{{ customer.username }}</td>
                <td>{{ customer.first_name }} {{ customer.last_name }}</td>
                <td>{{ customer.email }}</td>
                <td>{{ customer.phone_number }}</td>
                <td>{{ customer.created_at }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

<br>
<br>
<br>
{% endblock %}