{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Medical Shop Management System{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/my_css.css' %}">
</head>
<body>

<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <!-- Left-aligned brand link -->
        <a class="navbar-brand" href="{% url 'index' %}">Medical Shop Management</a>

        <!-- Right-aligned items -->
        <div class="ml-auto d-flex align-items-center">
            <!-- Sign in link -->
            {% if not request.user.is_authenticated %}

                <a class="nav-link" href="{% url 'signin' %}">Sign In</a>
            {% else %}
                <a class="nav-link" href="">{{ request.user.username }}</a>

            {% endif %}
            <!-- Cart logo with quantity -->
            <a class="nav-link" href="{% url 'cart' %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-basket2"
                     viewBox="0 0 16 16">
                    <path d="M4 10a1 1 0 0 1 2 0v2a1 1 0 0 1-2 0zm3 0a1 1 0 0 1 2 0v2a1 1 0 0 1-2 0zm3 0a1 1 0 1 1 2 0v2a1 1 0 0 1-2 0z"/>
                    <path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15.5a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-.623l-1.844 6.456a.75.75 0 0 1-.722.544H3.69a.75.75 0 0 1-.722-.544L1.123 8H.5a.5.5 0 0 1-.5-.5v-1A.5.5 0 0 1 .5 6h1.717L5.07 1.243a.5.5 0 0 1 .686-.172zM2.163 8l1.714 6h8.246l1.714-6z"/>
                </svg>
                <!-- Display the quantity next to the cart icon if applicable -->
                <span class="badge badge-light">{{ cart_items_count }}</span>
            </a>

            <!-- About Us link -->
            <a class="nav-link" href="{% url 'shops' %}">Shops </a>
            <a class="nav-link" href="{% url 'about_us' %}">About Us</a>
            {% if request.user.is_authenticated %}

                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            {% endif %}
        </div>
    </div>
</nav>

<!-- Main Content -->
<div class="container">
    {% block content %}
    {% endblock %}
</div>

<!-- Footer -->
<footer class="bg-dark text-light text-center py-3">
    <p>Medical Shop Management System &copy; 2024</p>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
