{% extends 'base.html' %}

{% block title %}Cart{% endblock %}

{% block content %}
    <div class="page_header">
        <p>Cart</p>
    </div>
    <div class="container">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mt-4">
                    <a href="{% url 'clear_cart' %}" class="btn btn-danger mb-3">Clear Cart</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <ul class="list-group">
                        {% for cart_item in cart_items %}
                            <li class="list-group-item">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="d-flex align-items-center">
                                        {% if cart_item.product.image %}
                                            <img src="{{ cart_item.product.image.url }}"
                                                 alt="{{ cart_item.product.name }}" class="mr-3"
                                                 style="max-width: 50px; max-height: 50px;">
                                        {% else %}
                                            <img src="https://medlineplus.gov/images/Medicines_share.jpg"
                                                 alt="Default Image" class="mr-3"
                                                 style="max-width: 50px; max-height: 50px;">
                                        {% endif %}
                                        <div>
                                            <h5 class="mb-1">{{ cart_item.product.name }}</h5>
                                            <p class="mb-1">
                                                <strong>Category:</strong> {{ cart_item.product.category.name }}, <span style="color: #077676">  Shop : {{ cart_item.product.shop.name }}</span></p>
                                            <p class="mb-1"><strong>Price:</strong> {{ cart_item.product.price }}</p>
                                            <p class="mb-1"><strong>Quantity:</strong> {{ cart_item.quantity }}</p>
                                            <p class="mb-1">
                                                <strong>Total:</strong> {{ cart_item.product.price|floatformat:"2" }}
                                                * {{ cart_item.quantity }}
                                                = {% widthratio cart_item.product.price 1 cart_item.quantity %}</p>
                                        </div>
                                    </div>
                                    <div>
                                        <form action="{% url 'update_cart_item' cart_item.id %}" method="post">
                                            {% csrf_token %}
                                            <input type="number" name="quantity" value="{{ cart_item.quantity }}"
                                                   min="1">
                                            <button type="submit" class="btn btn-primary btn-sm">Update</button>
                                        </form>
                                        <a href="{% url 'remove_cart_item' cart_item.id %}"
                                           class="btn btn-danger btn-sm ml-2">Remove</a>
                                    </div>
                                </div>
                            </li>
                        {% empty %}
                            <li class="list-group-item">Your cart is empty.</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-12">
                    <h3>Cart Summary</h3>
                    <hr>
                    <h5><strong>Total Price:</strong> : <span
                            style="font-weight: bold;color: #007bff;float: right">  {{ total_price }}</span></h5>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div style="text-align: center">
        <button class="btn btn-danger">Place Order</button>
    </div>
    <br>
    <br>
{% endblock %}