{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}

    {% include 'sidebar.html' %}
    <div class="content">
        <h2>Admin Dashboard</h2>
        <p>This is the main content area.</p>
    </div>
    <div class="container">
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-4 mb-4">
                    <div class="card bg-primary text-white">
                        <div class="card-body">
                            <h5 class="card-title">Admin Count</h5>
                            <p class="card-text">{{ admin_count }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card bg-success text-white">
                        <div class="card-body">
                            <h5 class="card-title">Shop Count</h5>
                            <p class="card-text">{{ shop_count }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card bg-warning text-white">
                        <div class="card-body">
                            <h5 class="card-title">Customer Count</h5>
                            <p class="card-text">{{ customer_count }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-4">
                    <div class="card bg-info text-white">
                        <div class="card-body">
                            <h5 class="card-title">Total Products Count</h5>
                            <p class="card-text">{{ total_products_count }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card bg-danger text-white">
                        <div class="card-body">
                            <h5 class="card-title">Total Categories Count</h5>
                            <p class="card-text">{{ total_categories_count }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}